<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Audio: needed to record background noise during focus sessions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Internet: needed to download the generated avatar from the APIs -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindBricks">

        <!-- Launcher activity -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.MindBricks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove ActionBar -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MindBricks.NoActionBar" />

        <!-- Onboarding activity without ActionBar -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/Theme.MindBricks.NoActionBar" />

    </application>

</manifest>